#cy {
	width: 80%;
	height: 90%;
	position: absolute;
	left: 0px;
}

@media (min-width: 768px){
  .container{
    max-width:90%;
  }
}

@media (min-width: 992px){
  .container{
    max-width:90%;
  }
}

a:link {
    color: #097DC9;
}

/* A link that has been visited */
a:visited {
    color: #097DC9;
}

/* A link that is hovered on */
a:hover {
    color: #097DC9;
}

/* A link that is selected */
a:active {
    color: #097DC9;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
}

.left {
  width: 80%;
}

.right {
  width: 20%;
}

#searchform{
	background:#F8F9F9;
}
