
{% extends "layout.html" %}
{% block content %}

<h3> About RatsPub ...</h3>

<p>RatsPub searches PubMed to find abstracts containing genes of interest and a list of curated addiction-related keywords. The abstracts corresponding to these returned PMIDs are then retrieve from a <a href="https://dataguide.nlm.nih.gov/edirect/archive.html">local archive of the PubMed</a>. No limit on the date of publication is set. Each abstract is then broken down into sentences, which are then filtered by gene names and keywords. 

<p>Clicking  the links will bring up the corresponding sentences in a new browser window. Clicking the keywords will bring up the correponding search terms. Clicking the genes will start a new search to find sentences containing the target gene and the top 200 addiction genes. 

<p> The top 200 addiction genes were obtained by searching 29,761 human genes against addiction related keywords. To ensure comprehensive coverage, gene alias obtained from NCBI gene database were included in the search. The results were extensively curated to remove those alias that matched words that were not gene name or wrong genes. Some incorrect results remained because the same name also produced correct results. The archived results for these top addiction genes can be accessed via the <a href="/allTopGenes">Addiction Genes</a> link. 
	
<hr>
<a href="https://github.com/chen42/ratspub"> Source code </a>


{% endblock %}




