{% extends "layout.html" %}
{% block content %}
{{ message | safe }}

<h3> <u>R</u>elationship  with <u>A</u>ddiction <u>T</u>hrough <u>S</u>earches of <u>Pub</u>Med </span></a>
</h3>
 

	This app searches PubMed to find <i>sentences</i> that contain the query terms (e.g., gene symbols) and  <a href="https://github.com/chen42/RatsPub/blob/master/ratspub.py#L95-L129">keywords</a> related to drug addiction.
<br> 
	<p>
    <form action="/progress">
      <input name="query" class="form-control form-control-lg" type="search" placeholder="Rgma Nrxn3" aria-label="search" value="">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{% endblock %}



