{% extends "layout.html" %}
{% block content %}
<p>

    <form action="/search">
      <input name="query" class="form-control form-control-lg" type="search" placeholder="Rgma Nrxn3" aria-label="search" value="">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	<br>
	This app searches PubMed to find <i>sentences</i> that contain the query terms (e.g., gene symbols, <b>up to five are allowed per search</b>) and  <a href="https://github.com/chen42/RatsPub/blob/master/ratspub.py#L95-L129">keywords</a> related to drug addiction.
	<p>
<br> 
Searches are conducted through PubMed to get relevant PMIDs, which are then used to retrieve the abstracts from a <a href="https://dataguide.nlm.nih.gov/edirect/archive.html">local archive</a>. The relationships are presented as an interactive <a href="https://js.cytoscape.org" >cytoscape</a> graph. The nodes can be moved around to better reveal the connections.  Clicking on the links will bring up the corresponding sentences in a new browser window. 
<p>
<hr>
<a href="https://github.com/chen42/ratspub"> Source code </a>

{% endblock %}



