{% extends "about.html" %}
{% block title %}User Sign Up{%endblock%}
{% block content %}

<table>
  <tr>
    <td width="60%">
      {{ super() }}
    </td>
    <td width="40%">
      <div style="clear: both">
        <h4 style="float: left">Create an account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
        <a href="signin" >or login</a>
      </div>
      <hr>
      <form class="p-2" action="/signup" method="POST">
        <div class="form-group">                     
          <input type="name" class="form-control" name="name" id="name" placeholder="Username" required>
        </div>
        <div class="form-group">                    
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email address", value="{{email if email}}" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
          <div class="dropdown-divider"></div>      
          <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </form>
      <font color="#E74C3C"><strong>Please make sure you backup your password.</strong></font>To ensure security, your actual password is not saved in our database. Thus we have limited ability to reset your password. If you need to recovery your account, please <a href = "mailto: hakan@uthsc.edu">contact us</a>. We'll need the email address you used to create the account.
    </td>
    </td>
  </tr>
</table>

{% endblock %}
