{% extends "layout.html" %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.6.0/cytoscape.min.js" integrity="sha256-uZV2wRlscgr52q3Wb3Oew0rKCPsM3g4aBTv46sF4qzg=" crossorigin="anonymous"></script>
<head>
    {%if num_gene==1%}
        <h2> <b>GENE(S): {{gene_name}}</b> </h2>
    {%else%}
    <h2> <b>GENES: {{gene_name}}</b> </h2>
    {%endif%}
</head>

<style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      padding: 10px;
    }
    
    .left {
      width: 60%;
    }
    
    .middle {
      width: 50%;
    }

    .right {
      width: 40%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
</style>


<div class="row">
    <div class="column left" >
        <h4> {{ message |safe}} </h4>
        <body> 
            <table id="myTable" border="1"> 
            </table>
        </body>
    </div>

    <div class="column right">
        {{ message4 |safe}} 
    </div>
</div>

<script>{
    {}   
    var table = document.getElementById("myTable");
    var header = table.createTHead();
    var row = header.insertRow(0);    
    var cell = row.insertCell(0);
    cell.innerHTML = "<b>Keyword</b>";
    var cell = row.insertCell(1);
    cell.innerHTML = "<b>Category</b>";

    {%for p in jnodes['data']%}
        var x=document.getElementById('myTable').insertRow(1);
        
        control=0;
        {%for p1 in jedges['data']%}
            {%if p1['target'] == p['id']%}
                control=1
            {%endif%}
        {%endfor%}

        if(control !=1){
            y= x.insertCell(0);
            y.innerHTML='{{p['id']}}'; 
            y= x.insertCell(1);
            y.innerHTML='{{p['nodetype']}}'; 
            }
    {% endfor %}
}
</script>

{%endblock%}
