{% extends "layout.html" %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.6.0/cytoscape.min.js" integrity="sha256-uZV2wRlscgr52q3Wb3Oew0rKCPsM3g4aBTv46sF4qzg=" crossorigin="anonymous"></script>
<head>
    {%if num_gene==1%}
        <h2> <b>GENE: {{gene_name}}</b> </h2>
        {%if nodata_temp==1%}
            <b>No result was found.</b>
        {%endif%}
    {%else%}
    <h2> <b>GENES: {{gene_name}}</b> </h2>
        {%if nodata_temp==1%}
            <b>No result was found.</b>
        {%endif%}
    {%endif%}
</head>
{%if nodata_temp!=1%}
<style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      padding: 10px;
    }
    
    .left {
      width: 60%;
    }
    
    .middle {
      width: 50%;
    }

    .right {
      width: 40%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
</style>

<div class="row">
    <div class="column left" >
        <h4> {{ message |safe}} </h4>
        <body> 
            <table id="myTable" border="1"> 
            </table>
        </body>
    </div>
    <div class="column right">
        {{ message3 |safe}} 
    </div>
</div>
    <script>{
        {}   
        var table = document.getElementById("myTable");
        var header = table.createTHead();
        var row = header.insertRow(0);    
        var cell = row.insertCell(0);
        cell.innerHTML = "<b>Gene</b>";
        var cell = row.insertCell(1);
        cell.innerHTML = "<b>Abstract Count</b>";
        var cell = row.insertCell(2);
        cell.innerHTML = "<b>Keyword</b>";
        var cell = row.insertCell(3);
        cell.innerHTML = "<b>Category</b>";
        
        {%for p in jedges['data']%}
            var x=document.getElementById('myTable').insertRow(1);
            source = '{{p['source']}}';
            target = '{{p['target']}}';
            var y= x.insertCell(0);        
            {%for p1 in jnodes['data']%}
                {%if p['target'] == p1['id']%}
                    color='{{p1['nodecolor']}}'
                    type='{{p1['nodetype']}}'
                {%endif%}
            {%endfor%}
            {%if 'GWAS' in  p['target']%}
                color="#AEB6BF"
                type='GWAS'
                key_gwas = target.replace("_GWAS","")
                    this_url1 = 'sentences?edgeID=gwas_addiction.tab|'+source+'|'+target;
                    this_url2 = 'https://www.ebi.ac.uk/gwas/search?query='+key_gwas;
                {%else%}
                    this_url1 = 'sentences?edgeID='+'{{session_path}}'+'_snt|'+source+'|'+target;
                    this_url2 = 'shownode?nodetype='+type+'&node='+target;
            {%endif%}
            //genegene_url = '/startGeneGene?forTopGene='+source;
            genegene_url = 'synonyms?node='+source;
            y.innerHTML="<a href='"+genegene_url+"'>{{p['source']}}</a>";
            y= x.insertCell(1);
            y.innerHTML="<center> <a href='"+this_url1+"'> {{p['sentCnt']}}</a> </center>"; 
            y= x.insertCell(2);
            y.innerHTML="<a href='"+this_url2+"'>{{p['target']}}</a>";
            y= x.insertCell(3);
            y.innerHTML=type; 
        {% endfor %}
    }
    </script>
{%endif%}
<br>
<a href="/tableview0">Review</a> searches that have <b>zero</b> abstract counts.

{%endblock%}
