
{% extends "layout.html" %}
{% block content %}

<h4> Most studied addiction related genes </h4>

<br>
These genes are ranked by the number of PubMed abstracts that contain the name of the gene and one or more addiction related keyword. Alias were obtained from NCBI gene database and have been curated to remove most, but not all, false matches.
<hr>

<ol><li><a href="/showTopGene?topGene=FOS">FOS</a> <span style="font-size:small; color:grey">(AP 1; C FOS; CFOS; FOS PROTO ONCOGENE, AP 1 TRANSCRIPTION FACTOR SUBUNIT)</span><br>
<li><a href="/showTopGene?topGene=BDNF">BDNF</a> <span style="font-size:small; color:grey">(ANON2; BRAIN DERIVED NEUROTROPHIC FACTOR; BULN2)</span><br>
<li><a href="/showTopGene?topGene=TH">TH</a> <span style="font-size:small; color:grey">(DYT14; DYT5B; TYROSINE HYDROXYLASE; TYROSINEHYDROXYLASE)</span><br>
<li><a href="/showTopGene?topGene=OPRM1">OPRM1</a> <span style="font-size:small; color:grey">(LMOR; M OR 1; MOR1; OPIOID RECEPTOR MU 1; OPRM)</span><br>
<li><a href="/showTopGene?topGene=CNR1">CNR1</a> <span style="font-size:small; color:grey">(CNRS1; PROTOCADHERIN ALPHA CLUSTER, COMPLEX LOCUS)</span><br>
<li><a href="/showTopGene?topGene=DRD2">DRD2</a> <span style="font-size:small; color:grey">(D2DR; DOPAMINE RECEPTOR D2)</span><br>
<li><a href="/showTopGene?topGene=CREB1">CREB1</a> <span style="font-size:small; color:grey">(CAMP RESPONSIVE ELEMENT BINDING PROTEIN 1; CREB; CREB 1)</span><br>
<li><a href="/showTopGene?topGene=SLC6A4">SLC6A4</a> <span style="font-size:small; color:grey">(5 HTT; 5 HTTLPR; 5HTT; 5HTTLPR; HSERT; OCD1; SERT; SERT1; SOLUTE CARRIER FAMILY 6 MEMBER 4)</span><br>
<li><a href="/showTopGene?topGene=TNF">TNF</a> <span style="font-size:small; color:grey">(TNF ALPHA; TNFA; TNFALPHA; TNFSF2; TNLG1F; TUMOR NECROSIS FACTOR)</span><br>
<li><a href="/showTopGene?topGene=CYP2B6">CYP2B6</a> <span style="font-size:small; color:grey">(CPB6; CYP2B; CYP2B7; CYP2B7P; CYPIIB6; CYTOCHROME P450 FAMILY 2 SUBFAMILY B MEMBER 6; EFVM; IIB1; P450)</span><br>
<li><a href="/showTopGene?topGene=NPY">NPY</a> <span style="font-size:small; color:grey">(NEUROPEPTIDE Y; NEUROPEPTIDEY; PYY4)</span><br>
<li><a href="/showTopGene?topGene=GRM5">GRM5</a> <span style="font-size:small; color:grey">(GLUTAMATE METABOTROPIC RECEPTOR 5; GPRC1E; MGLU5; MGLUR5; PPP1R86)</span><br>
<li><a href="/showTopGene?topGene=GRIN2B">GRIN2B</a> <span style="font-size:small; color:grey">(EIEE27; GLUN2B; GLUTAMATE IONOTROPIC RECEPTOR NMDA TYPE SUBUNIT 2B; HNR3; MRD6; NMDAR2B; NR2B)</span><br>
<li><a href="/showTopGene?topGene=HTR1A">HTR1A</a> <span style="font-size:small; color:grey">(5 HT 1A; 5 HT1A; 5 HYDROXYTRYPTAMINE RECEPTOR 1A; 5HT1A; 5HT1A; ADRB2RL1; ADRBRL1; PFMCD)</span><br>
<li><a href="/showTopGene?topGene=GRIA1">GRIA1</a> <span style="font-size:small; color:grey">(GLUA1; GLUH1; GLUR1; GLURA; GLUTAMATE IONOTROPIC RECEPTOR AMPA TYPE SUBUNIT 1; HBGR1)</span><br>
<li><a href="/showTopGene?topGene=ALDH2">ALDH2</a> <span style="font-size:small; color:grey">(ALDEHYDE DEHYDROGENASE 2 FAMILY MEMBER; ALDH E2; ALDHE2; ALDHI; ALDM)</span><br>
<li><a href="/showTopGene?topGene=HTR2A">HTR2A</a> <span style="font-size:small; color:grey">(5 HT2A; 5 HYDROXYTRYPTAMINE RECEPTOR 2A; 5HT2A; HTR2)</span><br>
<li><a href="/showTopGene?topGene=CRHR1">CRHR1</a> <span style="font-size:small; color:grey">(CORTICOTROPIN RELEASING HORMONE RECEPTOR 1; CRF R; CRF R 1; CRF R1; CRF1; CRFR; CRFR 1; CRFR1; CRH R 1; CRH R1; CRHR; CRHR1L)</span><br>
<li><a href="/showTopGene?topGene=GRM2">GRM2</a> <span style="font-size:small; color:grey">(GLUR2; GLUTAMATE METABOTROPIC RECEPTOR 2; GPRC1B; MGLU2; MGLUR2)</span><br>
<li><a href="/showTopGene?topGene=CHRNA5">CHRNA5</a> <span style="font-size:small; color:grey">(CHOLINERGIC RECEPTOR NICOTINIC ALPHA 5 SUBUNIT; LNCR2)</span><br>
<li><a href="/showTopGene?topGene=IL6">IL6</a> <span style="font-size:small; color:grey">(BSF 2; BSF2; IFN BETA 2; IFNB2; IL 6; INTERLEUKIN 6; INTERLEUKIN6)</span><br>
<li><a href="/showTopGene?topGene=COMT">COMT</a> <span style="font-size:small; color:grey">(CATECHOL O METHYLTRANSFERASE; HEL S 98N)</span><br>
<li><a href="/showTopGene?topGene=PDYN">PDYN</a> <span style="font-size:small; color:grey">(ADCA; PENKB; PRODYNORPHIN; SCA23)</span><br>
<li><a href="/showTopGene?topGene=FAAH1">FAAH1</a> <span style="font-size:small; color:grey">(FAAH 1; FATTY ACID AMIDE HYDROLASE; PSAB)</span><br>
<li><a href="/showTopGene?topGene=NPS">NPS</a> <span style="font-size:small; color:grey">(NEUROPEPTIDE S)</span><br>
<li><a href="/showTopGene?topGene=MAPK3">MAPK3</a> <span style="font-size:small; color:grey">(ERK 1; ERK1; ERT2; HS44KDAP; HUMKER1A; MITOGEN ACTIVATED PROTEIN KINASE 3; P44 ERK1; P44 MAPK; P44ERK1; P44ERK1; P44MAPK; P44MAPK; PRKM3)</span><br>
<li><a href="/showTopGene?topGene=FOSB">FOSB</a> <span style="font-size:small; color:grey">(AP 1; FOSB PROTO ONCOGENE, AP 1 TRANSCRIPTION FACTOR SUBUNIT; G0S3; GOS3; GOSB)</span><br>
<li><a href="/showTopGene?topGene=CRH">CRH</a> <span style="font-size:small; color:grey">(CORTICOTROPIN RELEASING HORMONE; CRH1)</span><br>
<li><a href="/showTopGene?topGene=TLR4">TLR4</a> <span style="font-size:small; color:grey">(ARMD10; CD284; TLR 4; TOLL LIKE RECEPTOR 4)</span><br>
<li><a href="/showTopGene?topGene=GRIA2">GRIA2</a> <span style="font-size:small; color:grey">(GLUA2; GLUR 2; GLUR B; GLUR K2; GLUR2; GLUR2; GLURB; GLURB; GLURK2; GLUTAMATE IONOTROPIC RECEPTOR AMPA TYPE SUBUNIT 2; HBGR2)</span><br>
<li><a href="/showTopGene?topGene=CYP2A6">CYP2A6</a> <span style="font-size:small; color:grey">(CPA6; CYP2A; CYP2A3; CYPIIA6; CYTOCHROME P450 FAMILY 2 SUBFAMILY A MEMBER 6; P450C2A; P450PB)</span><br>
<li><a href="/showTopGene?topGene=HTR2C">HTR2C</a> <span style="font-size:small; color:grey">(5 HT1C; 5 HT2C; 5 HTR2C; 5 HYDROXYTRYPTAMINE RECEPTOR 2C; 5HT1C; 5HT2C; 5HTR2C; HTR1C)</span><br>
<li><a href="/showTopGene?topGene=ADH1B">ADH1B</a> <span style="font-size:small; color:grey">(ADH2; ALCOHOL DEHYDROGENASE 1B CLASS I , BETA POLYPEPTIDE; HEL S 117)</span><br>
<li><a href="/showTopGene?topGene=DRD4">DRD4</a> <span style="font-size:small; color:grey">(D4DR; DOPAMINE RECEPTOR D4)</span><br>
<li><a href="/showTopGene?topGene=ARC">ARC</a> <span style="font-size:small; color:grey">(ACTIVITY REGULATED CYTOSKELETON ASSOCIATED PROTEIN; ARG3.1; HARC)</span><br>
<li><a href="/showTopGene?topGene=MAOA">MAOA</a> <span style="font-size:small; color:grey">(BRNRS; MAO A; MONOAMINE OXIDASE A)</span><br>
<li><a href="/showTopGene?topGene=CYP2E1">CYP2E1</a> <span style="font-size:small; color:grey">(CPE1; CYP2E; CYTOCHROME P450 FAMILY 2 SUBFAMILY E MEMBER 1; P450 J; P450C2E; P450J)</span><br>
<li><a href="/showTopGene?topGene=SLC1A2">SLC1A2</a> <span style="font-size:small; color:grey">(EAAT2; EIEE41; GLT 1; GLT1; HBGT; SOLUTE CARRIER FAMILY 1 MEMBER 2)</span><br>
<li><a href="/showTopGene?topGene=GRIN2A">GRIN2A</a> <span style="font-size:small; color:grey">(EPND; FESD; GLUN2A; GLUTAMATE IONOTROPIC RECEPTOR NMDA TYPE SUBUNIT 2A; NMDAR2A; NR2A)</span><br>
<li><a href="/showTopGene?topGene=POMC">POMC</a> <span style="font-size:small; color:grey">(OBAIRH; PROOPIOMELANOCORTIN)</span><br>
<li><a href="/showTopGene?topGene=SLC6A3">SLC6A3</a> <span style="font-size:small; color:grey">(DAT1; PKDYS; PKDYS1; SOLUTE CARRIER FAMILY 6 MEMBER 3)</span><br>
<li><a href="/showTopGene?topGene=NGF">NGF</a> <span style="font-size:small; color:grey">(BETA NGF; BETANGF; HSAN5; NERVE GROWTH FACTOR; NGFB)</span><br>
<li><a href="/showTopGene?topGene=DBH">DBH</a> <span style="font-size:small; color:grey">(DOPAMINE BETA HYDROXYLASE; ORTHYP1)</span><br>
<li><a href="/showTopGene?topGene=PENK">PENK</a> <span style="font-size:small; color:grey">(PENK A; PENKA; PROENKEPHALIN)</span><br>
<li><a href="/showTopGene?topGene=HTR1B">HTR1B</a> <span style="font-size:small; color:grey">(5 HT 1B; 5 HT 1D BETA; 5 HT1B; 5 HT1DB; 5 HYDROXYTRYPTAMINE RECEPTOR 1B; 5HT1B; 5HT1DB; HTR1D2; HTR1DB)</span><br>
<li><a href="/showTopGene?topGene=JUN">JUN</a> <span style="font-size:small; color:grey">(AP 1; C JUN; CJUN; CJUN; JUN PROTO ONCOGENE, AP 1 TRANSCRIPTION FACTOR SUBUNIT)</span><br>
<li><a href="/showTopGene?topGene=CASP3">CASP3</a> <span style="font-size:small; color:grey">(CASPASE 3; CASPASE3; CPP32; CPP32B; SCA 1; SCA1)</span><br>
<li><a href="/showTopGene?topGene=CHRNA3">CHRNA3</a> <span style="font-size:small; color:grey">(BAIPRCK; CHOLINERGIC RECEPTOR NICOTINIC ALPHA 3 SUBUNIT; LNCR2; NACHRA3; PAOD2)</span><br>
<li><a href="/showTopGene?topGene=NEUROTENSIN">NEUROTENSIN</a> <span style="font-size:small; color:grey">(NMN 125; NMN125; NT/N; NTS1)</span><br>
<li><a href="/showTopGene?topGene=NTRK2">NTRK2</a> <span style="font-size:small; color:grey">(EIEE58; GP145 TRKB; GP145TRKB; NEUROTROPHIC RECEPTOR TYROSINE KINASE 2; OBHD; TRK B; TRKB; TRKB)</span><br>
<li><a href="/showTopGene?topGene=CAMK2G">CAMK2G</a> <span style="font-size:small; color:grey">(CALCIUM/CALMODULIN DEPENDENT PROTEIN KINASE II GAMMA; CAMK; CAMK II; CAMKG; CAMKII; MRD59)</span><br>
<li><a href="/showTopGene?topGene=TRPV1">TRPV1</a> <span style="font-size:small; color:grey">(TRANSIENT RECEPTOR POTENTIAL CATION CHANNEL SUBFAMILY V MEMBER 1)</span><br>
<li><a href="/showTopGene?topGene=CYP2D6">CYP2D6</a> <span style="font-size:small; color:grey">(CPD6; CYP2D; CYP2D7AP; CYP2D7BP; CYP2D7P2; CYP2D8P2; CYP2DL1; CYPIID6; CYTOCHROME P450 FAMILY 2 SUBFAMILY D MEMBER 6; P450 DB1; P450C2D; P450DB1)</span><br>
<li><a href="/showTopGene?topGene=CORT">CORT</a> <span style="font-size:small; color:grey">(CORTISTATIN; CST 14; CST 17; CST 29; CST14; CST17; CST29)</span><br>
<li><a href="/showTopGene?topGene=GFAP">GFAP</a> <span style="font-size:small; color:grey">(ALXDRD; GLIAL FIBRILLARY ACIDIC PROTEIN)</span><br>
<li><a href="/showTopGene?topGene=GABRA2">GABRA2</a> <span style="font-size:small; color:grey">(EIEE78; GAMMA AMINOBUTYRIC ACID TYPE A RECEPTOR SUBUNIT ALPHA2)</span><br>
<li><a href="/showTopGene?topGene=EGR1">EGR1</a> <span style="font-size:small; color:grey">(AT225; EARLY GROWTH RESPONSE 1; G0S30; KROX 24; KROX24; NGFI A; NGFIA; TIS8; ZIF 268; ZIF268; ZNF225)</span><br>
<li><a href="/showTopGene?topGene=NOS1">NOS1</a> <span style="font-size:small; color:grey">(BNOS; IHPS1; N NOS; NC NOS; NCNOS; NITRIC OXIDE SYNTHASE 1; NNOS; NNOS)</span><br>
<li><a href="/showTopGene?topGene=ANKK1">ANKK1</a> <span style="font-size:small; color:grey">(ANKYRIN REPEAT AND KINASE DOMAIN CONTAINING 1; PKK2; SGK288)</span><br>
<li><a href="/showTopGene?topGene=CYP3A4">CYP3A4</a> <span style="font-size:small; color:grey">(CP33; CP34; CYP3A; CYP3A3; CYPIIIA3; CYPIIIA4; CYTOCHROME P450 FAMILY 3 SUBFAMILY A MEMBER 4; NF 25; NF25; P450C3; P450PCN1)</span><br>
<li><a href="/showTopGene?topGene=PCDHA4">PCDHA4</a> <span style="font-size:small; color:grey">(CNR1; CNRN1; CRNR1; PCDH ALPHA4; PCDHALPHA4; PROTOCADHERIN ALPHA 4)</span><br>
<li><a href="/showTopGene?topGene=IL10">IL10</a> <span style="font-size:small; color:grey">(CSIF; GVHDS; IL 10; IL10A; INTERLEUKIN 10; INTERLEUKIN10; TGIF)</span><br>
<li><a href="/showTopGene?topGene=MTOR">MTOR</a> <span style="font-size:small; color:grey">(FRAP; FRAP1; FRAP2; MECHANISTIC TARGET OF RAPAMYCIN KINASE; RAFT1; RAPT1)</span><br>
<li><a href="/showTopGene?topGene=TRH">TRH</a> <span style="font-size:small; color:grey">(PRO TRH; PROTRH; THYROTROPIN RELEASING HORMONE)</span><br>
<li><a href="/showTopGene?topGene=CHRNB4">CHRNB4</a> <span style="font-size:small; color:grey">(CHOLINERGIC RECEPTOR NICOTINIC BETA 4 SUBUNIT)</span><br>
<li><a href="/showTopGene?topGene=GRM1">GRM1</a> <span style="font-size:small; color:grey">(GLUTAMATE METABOTROPIC RECEPTOR 1; GPRC1A; MGLU1; MGLUR1; PPP1R85; SCA44; SCAR13)</span><br>
<li><a href="/showTopGene?topGene=GDNF">GDNF</a> <span style="font-size:small; color:grey">(ATF1; ATF2; GLIAL CELL DERIVED NEUROTROPHIC FACTOR; HFB1 GDNF; HFB1GDNF; HSCR3)</span><br>
<li><a href="/showTopGene?topGene=DRD1">DRD1</a> <span style="font-size:small; color:grey">(DADR; DOPAMINE RECEPTOR D1; DRD1A)</span><br>
<li><a href="/showTopGene?topGene=GRIN1">GRIN1</a> <span style="font-size:small; color:grey">(GLUN1; GLUTAMATE IONOTROPIC RECEPTOR NMDA TYPE SUBUNIT 1; MRD8; NDHMSD; NDHMSR; NMD R1; NMDA1; NMDAR1; NMDR1)</span><br>
<li><a href="/showTopGene?topGene=BCHE">BCHE</a> <span style="font-size:small; color:grey">(BCHED; BUTYRYLCHOLINESTERASE; CHE1; CHE2)</span><br>
<li><a href="/showTopGene?topGene=CCL2">CCL2</a> <span style="font-size:small; color:grey">(C C MOTIF CHEMOKINE LIGAND 2; GDCF 2; GDCF2; HC11; HSMCR30; MCAF; MCP 1; MCP1; SCYA2; SMC CF; SMCCF)</span><br>
<li><a href="/showTopGene?topGene=ADH1C">ADH1C</a> <span style="font-size:small; color:grey">(ADH3; ALCOHOL DEHYDROGENASE 1C CLASS I , GAMMA POLYPEPTIDE)</span><br>
<li><a href="/showTopGene?topGene=WARS1">WARS1</a> <span style="font-size:small; color:grey">(GAMMA 2; GAMMA2; HMN9; IFI53; IFP53; TRYPTOPHANYL TRNA SYNTHETASE 1; WARS)</span><br>
<li><a href="/showTopGene?topGene=ADH4">ADH4</a> <span style="font-size:small; color:grey">(ADH 2; ADH2; ALCOHOL DEHYDROGENASE 4 CLASS II , PI POLYPEPTIDE; HEL S 4)</span><br>
<li><a href="/showTopGene?topGene=PTGS2">PTGS2</a> <span style="font-size:small; color:grey">(COX 2; COX2; GRIPGHS; HCOX 2; HCOX2; PGG/HS; PGHS 2; PGHS2; PHS 2; PHS2; PROSTAGLANDIN ENDOPEROXIDE SYNTHASE 2)</span><br>
<li><a href="/showTopGene?topGene=HDAC9">HDAC9</a> <span style="font-size:small; color:grey">(HD7B; HDAC; HDAC7; HDAC7B; HDAC9B; HDAC9FL; HDRP; HISTONE DEACETYLASE 9; MITR)</span><br>
<li><a href="/showTopGene?topGene=RTN4">RTN4</a> <span style="font-size:small; color:grey">(NBLA00271; NBLA10545; NOGO; NSP CL; NSPCL; RETICULON 4; RETICULON4; RTN X; RTN4 A; RTN4 B1; RTN4 B2; RTN4 C; RTN4A; RTN4B1; RTN4B2; RTN4C; RTNX)</span><br>
<li><a href="/showTopGene?topGene=PPP1R1B">PPP1R1B</a> <span style="font-size:small; color:grey">(DARPP 32; DARPP32; PROTEIN PHOSPHATASE 1 REGULATORY INHIBITOR SUBUNIT 1B)</span><br>
<li><a href="/showTopGene?topGene=PPARA">PPARA</a> <span style="font-size:small; color:grey">(HPPAR; NR1C1; PEROXISOME PROLIFERATOR ACTIVATED RECEPTOR ALPHA; PPAR; PPARALPHA)</span><br>
<li><a href="/showTopGene?topGene=BAX">BAX</a> <span style="font-size:small; color:grey">(BCL2 ASSOCIATED X, APOPTOSIS REGULATOR; BCL2L4)</span><br>
<li><a href="/showTopGene?topGene=OPRK1">OPRK1</a> <span style="font-size:small; color:grey">(K OR 1; KOR 1; KOR1; OPIOID RECEPTOR KAPPA 1; OPRK)</span><br>
<li><a href="/showTopGene?topGene=DRD3">DRD3</a> <span style="font-size:small; color:grey">(D3DR; DOPAMINE RECEPTOR D3; ETM1; FET1)</span><br>
<li><a href="/showTopGene?topGene=BCL2">BCL2</a> <span style="font-size:small; color:grey">(BCL 2; BCL2; BCL2 APOPTOSIS REGULATOR; PPP1R50)</span><br>
<li><a href="/showTopGene?topGene=HOMER1">HOMER1</a> <span style="font-size:small; color:grey">(HOMER; HOMER SCAFFOLD PROTEIN 1; HOMER1A; HOMER1B; HOMER1C; SYN47; VES 1; VES1)</span><br>
<li><a href="/showTopGene?topGene=EGFR">EGFR</a> <span style="font-size:small; color:grey">(EPIDERMAL GROWTH FACTOR RECEPTOR; ERBB; ERBB1; HER1; MENA; NISBD2; PIG61)</span><br>
<li><a href="/showTopGene?topGene=ACHE">ACHE</a> <span style="font-size:small; color:grey">(ACEE; ACETYLCHOLINESTERASE CARTWRIGHT BLOOD GROUP; ARACHE; N ACHE; NACHE)</span><br>
<li><a href="/showTopGene?topGene=ADORA2A">ADORA2A</a> <span style="font-size:small; color:grey">(A2AR; ADENOSINE A2A RECEPTOR; ADORA2; RDC8)</span><br>
<li><a href="/showTopGene?topGene=ABCB1">ABCB1</a> <span style="font-size:small; color:grey">(ABC20; ATP BINDING CASSETTE SUBFAMILY B MEMBER 1; CD243; CLCS; GP170; MDR1; P GP; PGY1)</span><br>
<li><a href="/showTopGene?topGene=MGLL">MGLL</a> <span style="font-size:small; color:grey">(HU K5; HUK5; MAGL; MONOGLYCERIDE LIPASE; MONOGLYCERIDELIPASE)</span><br>
<li><a href="/showTopGene?topGene=CDK5">CDK5</a> <span style="font-size:small; color:grey">(CYCLIN DEPENDENT KINASE 5; LIS7; PSSALRE)</span><br>
<li><a href="/showTopGene?topGene=PSENEN">PSENEN</a> <span style="font-size:small; color:grey">(ACNINV2; MDS033; MSTP064; PEN 2; PEN2; PRESENILIN ENHANCER, GAMMA SECRETASE SUBUNIT)</span><br>
<li><a href="/showTopGene?topGene=SH2D3C">SH2D3C</a> <span style="font-size:small; color:grey">(CHAT; NSP3; PRO34088; SH2 DOMAIN CONTAINING 3C; SHEP1)</span><br>
<li><a href="/showTopGene?topGene=IL1B">IL1B</a> <span style="font-size:small; color:grey">(IL 1; IL1 BETA; IL1BETA; IL1BETA; IL1F2; INTERLEUKIN 1 BETA)</span><br>
<li><a href="/showTopGene?topGene=CHAT">CHAT</a> <span style="font-size:small; color:grey">(CHOACTASE; CHOLINE O ACETYLTRANSFERASE; CMS1A; CMS1A2; CMS6)</span><br>
<li><a href="/showTopGene?topGene=CCL4">CCL4</a> <span style="font-size:small; color:grey">(ACT2; AT744.1; C C MOTIF CHEMOKINE LIGAND 4; G 26; HC21; LAG 1; LAG1; MIP 1 BETA; MIP1B; MIP1B1; SCYA2; SCYA4)</span><br>
<li><a href="/showTopGene?topGene=CALCA">CALCA</a> <span style="font-size:small; color:grey">(CALC1; CALCITONIN RELATED POLYPEPTIDE ALPHA; CGRP; CGRP ALPHA; CGRP I; CGRP1; CGRPALPHA; CGRPI)</span><br>
<li><a href="/showTopGene?topGene=S100A12">S100A12</a> <span style="font-size:small; color:grey">(CAAF1; CAGC; CGRP; MRP 6; MRP6; S100 CALCIUM BINDING PROTEIN A12)</span><br>
<li><a href="/showTopGene?topGene=OPRD1">OPRD1</a> <span style="font-size:small; color:grey">(DOR1; OPIOID RECEPTOR DELTA 1; OPRD)</span><br>
<li><a href="/showTopGene?topGene=JUNB">JUNB</a> <span style="font-size:small; color:grey">(AP 1; JUNB PROTO ONCOGENE, AP 1 TRANSCRIPTION FACTOR SUBUNIT)</span><br>
<li><a href="/showTopGene?topGene=GSTM1">GSTM1</a> <span style="font-size:small; color:grey">(GLUTATHIONE S TRANSFERASE MU 1; GST1; GSTM1 1; GSTM11; GSTM1A 1A; GSTM1A1A; GSTM1B 1B; GSTM1B1B; GTH4; GTM1; H B; MU 1)</span><br>

</ol>
{% endblock %}
