{% extends "layout.html" %}
{% block content %}
 



<li><a href="/showTopGene?topGene=FOS">FOS</a><br>
<li><a href="/showTopGene?topGene=BDNF">BDNF</a><br>
<li><a href="/showTopGene?topGene=DRD2">DRD2</a><br>
<li><a href="/showTopGene?topGene=OPRM1">OPRM1</a><br>
<li><a href="/showTopGene?topGene=TH">TH</a><br>
<li><a href="/showTopGene?topGene=ALDH2">ALDH2</a><br>
<li><a href="/showTopGene?topGene=TNF">TNF</a><br>
<li><a href="/showTopGene?topGene=CHRNA5">CHRNA5</a><br>
<li><a href="/showTopGene?topGene=NPY">NPY</a><br>
<li><a href="/showTopGene?topGene=FAAH">FAAH</a><br>
<li><a href="/showTopGene?topGene=CCK">CCK</a><br>
<li><a href="/showTopGene?topGene=COMT">COMT</a><br>
<li><a href="/showTopGene?topGene=CYP2A6">CYP2A6</a><br>
<li><a href="/showTopGene?topGene=DRD4">DRD4</a><br>
<li><a href="/showTopGene?topGene=ARC">ARC</a><br>
<li><a href="/showTopGene?topGene=CHRNA3">CHRNA3</a><br>
<li><a href="/showTopGene?topGene=FOSB">FOSB</a><br>
<li><a href="/showTopGene?topGene=CRH">CRH</a><br>
<li><a href="/showTopGene?topGene=TLR4">TLR4</a><br>
<li><a href="/showTopGene?topGene=TAT">TAT</a><br>
<li><a href="/showTopGene?topGene=APP">APP</a><br>
<li><a href="/showTopGene?topGene=TRPV1">TRPV1</a><br>
<li><a href="/showTopGene?topGene=GABRA2">GABRA2</a><br>
<li><a href="/showTopGene?topGene=CYP2E1">CYP2E1</a><br>
<li><a href="/showTopGene?topGene=CYP2D6">CYP2D6</a><br>
<li><a href="/showTopGene?topGene=ANKK1">ANKK1</a><br>
<li><a href="/showTopGene?topGene=CORT">CORT</a><br>
<li><a href="/showTopGene?topGene=PDYN">PDYN</a><br>
<li><a href="/showTopGene?topGene=POMC">POMC</a><br>
<li><a href="/showTopGene?topGene=CNR1">CNR1</a><br>
<li><a href="/showTopGene?topGene=CNR1">CNR1</a><br>
<li><a href="/showTopGene?topGene=CHRNB4">CHRNB4</a><br>
<li><a href="/showTopGene?topGene=SLC6A3">SLC6A3</a><br>
<li><a href="/showTopGene?topGene=HTT">HTT</a><br>
<li><a href="/showTopGene?topGene=JUN">JUN</a><br>
<li><a href="/showTopGene?topGene=NGF">NGF</a><br>
<li><a href="/showTopGene?topGene=GDNF">GDNF</a><br>
<li><a href="/showTopGene?topGene=DBH">DBH</a><br>
<li><a href="/showTopGene?topGene=GFAP">GFAP</a><br>
<li><a href="/showTopGene?topGene=AVP">AVP</a><br>
<li><a href="/showTopGene?topGene=MTOR">MTOR</a><br>
<li><a href="/showTopGene?topGene=DRD3">DRD3</a><br>
<li><a href="/showTopGene?topGene=SLC6A4">SLC6A4</a><br>
<li><a href="/showTopGene?topGene=MAOA">MAOA</a><br>
<li><a href="/showTopGene?topGene=CYP2B6">CYP2B6</a><br>
<li><a href="/showTopGene?topGene=TRH">TRH</a><br>
<li><a href="/showTopGene?topGene=OPRK1">OPRK1</a><br>
<li><a href="/showTopGene?topGene=DRD1">DRD1</a><br>
<li><a href="/showTopGene?topGene=OPRD1">OPRD1</a><br>
<li><a href="/showTopGene?topGene=CDK5">CDK5</a><br>
<li><a href="/showTopGene?topGene=BCHE">BCHE</a><br>
<li><a href="/showTopGene?topGene=CRP">CRP</a><br>
<li><a href="/showTopGene?topGene=BAX">BAX</a><br>
<li><a href="/showTopGene?topGene=PENK">PENK</a><br>
<li><a href="/showTopGene?topGene=CHRNA4">CHRNA4</a><br>
<li><a href="/showTopGene?topGene=CHAT">CHAT</a><br>
<li><a href="/showTopGene?topGene=NPFF">NPFF</a><br>
<li><a href="/showTopGene?topGene=SRC">SRC</a><br>
<li><a href="/showTopGene?topGene=CYP3A4">CYP3A4</a><br>
<li><a href="/showTopGene?topGene=ABCB1">ABCB1</a><br>
<li><a href="/showTopGene?topGene=MECP2">MECP2</a><br>
<li><a href="/showTopGene?topGene=HOMER2">HOMER2</a><br>
<li><a href="/showTopGene?topGene=TAAR1">TAAR1</a><br>
<li><a href="/showTopGene?topGene=EGFR">EGFR</a><br>
<li><a href="/showTopGene?topGene=TPH2">TPH2</a><br>
<li><a href="/showTopGene?topGene=HTR2A">HTR2A</a><br>
<li><a href="/showTopGene?topGene=CCL2">CCL2</a><br>
<li><a href="/showTopGene?topGene=OXT">OXT</a><br>
<li><a href="/showTopGene?topGene=HCRT">HCRT</a><br>
<li><a href="/showTopGene?topGene=CHRNB3">CHRNB3</a><br>
<li><a href="/showTopGene?topGene=CHRNB2">CHRNB2</a><br>
<li><a href="/showTopGene?topGene=RGS9">RGS9</a><br>
<li><a href="/showTopGene?topGene=PER2">PER2</a><br>
<li><a href="/showTopGene?topGene=CRHR1">CRHR1</a><br>
<li><a href="/showTopGene?topGene=RGS4">RGS4</a><br>
<li><a href="/showTopGene?topGene=MIF">MIF</a><br>
<li><a href="/showTopGene?topGene=SIRT1">SIRT1</a><br>
<li><a href="/showTopGene?topGene=DBI">DBI</a><br>
<li><a href="/showTopGene?topGene=CHRM2">CHRM2</a><br>
<li><a href="/showTopGene?topGene=MIP">MIP</a><br>
<li><a href="/showTopGene?topGene=CCL4">CCL4</a><br>
<li><a href="/showTopGene?topGene=APOE">APOE</a><br>
<li><a href="/showTopGene?topGene=SNCA">SNCA</a><br>
<li><a href="/showTopGene?topGene=PTH">PTH</a><br>
<li><a href="/showTopGene?topGene=PER1">PER1</a><br>
<li><a href="/showTopGene?topGene=GSTM1">GSTM1</a><br>
<li><a href="/showTopGene?topGene=CHRNA6">CHRNA6</a><br>
<li><a href="/showTopGene?topGene=HTR1B">HTR1B</a><br>
<li><a href="/showTopGene?topGene=HMGB1">HMGB1</a><br>
<li><a href="/showTopGene?topGene=ANG">ANG</a><br>
<li><a href="/showTopGene?topGene=HDAC2">HDAC2</a><br>
<li><a href="/showTopGene?topGene=GPR55">GPR55</a><br>
<li><a href="/showTopGene?topGene=FYN">FYN</a><br>
<li><a href="/showTopGene?topGene=AGRP">AGRP</a><br>
<li><a href="/showTopGene?topGene=STAT3">STAT3</a><br>
<li><a href="/showTopGene?topGene=MTHFR">MTHFR</a><br>
<li><a href="/showTopGene?topGene=HOMER1">HOMER1</a><br>
<li><a href="/showTopGene?topGene=GRIN1">GRIN1</a><br>
<li><a href="/showTopGene?topGene=GAD1">GAD1</a><br>
<li><a href="/showTopGene?topGene=GABRA1">GABRA1</a><br>
<li><a href="/showTopGene?topGene=FKBP5">FKBP5</a><br>
<li><a href="/showTopGene?topGene=EGR1">EGR1</a><br>
<li><a href="/showTopGene?topGene=CYP2C19">CYP2C19</a><br>
<li><a href="/showTopGene?topGene=VIP">VIP</a><br>
<li><a href="/showTopGene?topGene=TRPA1">TRPA1</a><br>
<li><a href="/showTopGene?topGene=NLRP3">NLRP3</a><br>
<li><a href="/showTopGene?topGene=GRK2">GRK2</a><br>
<li><a href="/showTopGene?topGene=GRIN2B">GRIN2B</a><br>
<li><a href="/showTopGene?topGene=ARRB2">ARRB2</a><br>
<li><a href="/showTopGene?topGene=ALDH1A1">ALDH1A1</a><br>
<li><a href="/showTopGene?topGene=CYP1A2">CYP1A2</a><br>
<li><a href="/showTopGene?topGene=CYP1A1">CYP1A1</a><br>
<li><a href="/showTopGene?topGene=CNR2">CNR2</a><br>
<li><a href="/showTopGene?topGene=MBP">MBP</a><br>
<li><a href="/showTopGene?topGene=JUNB">JUNB</a><br>
<li><a href="/showTopGene?topGene=GRIN2A">GRIN2A</a><br>
<li><a href="/showTopGene?topGene=GRIA1">GRIA1</a><br>
<li><a href="/showTopGene?topGene=FGF2">FGF2</a><br>
<li><a href="/showTopGene?topGene=SP1">SP1</a><br>
<li><a href="/showTopGene?topGene=NTRK2">NTRK2</a><br>
<li><a href="/showTopGene?topGene=HTR3A">HTR3A</a><br>
<li><a href="/showTopGene?topGene=OPRL1">OPRL1</a><br>
<li><a href="/showTopGene?topGene=NR4A2">NR4A2</a><br>
<li><a href="/showTopGene?topGene=EGF">EGF</a><br>
<li><a href="/showTopGene?topGene=ALK">ALK</a><br>
<li><a href="/showTopGene?topGene=NCAM1">NCAM1</a><br>
<li><a href="/showTopGene?topGene=GAD2">GAD2</a><br>
<li><a href="/showTopGene?topGene=CD14">CD14</a><br>
<li><a href="/showTopGene?topGene=MAP2">MAP2</a><br>
<li><a href="/showTopGene?topGene=HTR1A">HTR1A</a><br>
<li><a href="/showTopGene?topGene=GRM3">GRM3</a><br>
<li><a href="/showTopGene?topGene=CCL5">CCL5</a><br>
<li><a href="/showTopGene?topGene=TACR1">TACR1</a><br>
<li><a href="/showTopGene?topGene=NOS1">NOS1</a><br>
<li><a href="/showTopGene?topGene=KCNJ6">KCNJ6</a><br>
<li><a href="/showTopGene?topGene=HCRTR1">HCRTR1</a><br>
<li><a href="/showTopGene?topGene=CREM">CREM</a><br>
<li><a href="/showTopGene?topGene=CREB1">CREB1</a><br>
<li><a href="/showTopGene?topGene=BCL2">BCL2</a><br>
<li><a href="/showTopGene?topGene=SOD2">SOD2</a><br>
<li><a href="/showTopGene?topGene=SNAP25">SNAP25</a><br>
<li><a href="/showTopGene?topGene=DLG4">DLG4</a><br>
<li><a href="/showTopGene?topGene=SLC18A2">SLC18A2</a><br>
<li><a href="/showTopGene?topGene=MGLL">MGLL</a><br>
<li><a href="/showTopGene?topGene=IL4">IL4</a><br>
<li><a href="/showTopGene?topGene=IL1B">IL1B</a><br>
<li><a href="/showTopGene?topGene=IL10">IL10</a><br>
<li><a href="/showTopGene?topGene=GRM7">GRM7</a><br>
<li><a href="/showTopGene?topGene=GRIA2">GRIA2</a><br>
<li><a href="/showTopGene?topGene=DNMT1">DNMT1</a><br>

{% endblock %}
